<div class="container whiteBackground">
    <h2>Create League</h2>

    <div class="table-responsive">
        <form method="post" action="/createLeague">
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <th width="200">League Name:</th>
                    <td><input type="text" name="leagueName" required>
                </tr>
                </tbody>
                <tfooter>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Save & Next"
                                   class="btn btn-success">
                            <input type="button" value="Cancel"
                                   class="btn btn-danger" onclick="cancelAdd()">
                        </td>
                    </tr>
                </tfooter>
            </table>
        </form>
    </div>


</div>