<div class="container whiteBackground">
    <h2>Create League Rules</h2>
    <h4>Input your rules for your league here. Once you save them, you cannot edit them</h4>
    <h4><i>Here are some popular rules that leagues use</i></h4>
    <ul>
        <li>Contestant says someone is not there for the right reasons - 10 pts</li>
        <li>Contestant gets the first impression rose - 20 pts</li>
        <li>Contestant says they're falling for the bachelor - 15 pts</li>
        <li>Contestant says they want a fairytale ending like their parents - 10 points</li>
        <li>Contestant says "Can I steal you?" to the bachelor during a rose ceremony - 15 points</li>
    </ul>

    <div class="row clearfix">
        <div class="col-md-8 column">
            <form method="post" action="/createLeagueRules/{{leagueId}}">
                <table class="table table-bordered" id="tab_logic">
                    <thead>
                    <tr >
                        <th class="text-center">
                            Rule Description
                        </th>
                        <th class="text-center">
                            Rule Points
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id='addr0'>
                        <td>
                            <input type="text" name='ruleName'  placeholder='Fight With Another Contestant' class="form-control"/>
                        </td>
                        <td>
                            <input type="text" name='rulePoints' placeholder='5' class="form-control"/>
                        </td>
                    </tr>
                    <tr id='addr1'></tr>
                    </tbody>
                </table>
                <input type="submit" id="save" class="btn btn-primary pull-left" value="Save All Rules" />
                <a id='delete_row' class="pull-right btn btn-default">Delete Row</a>
                <a id="add_row" class="pull-right btn btn-default">Add a Rule</a>
            </form>
        </div>
    </div>
</div>