<br>
<br>
<br>
    <div class="container whiteBackground">
        <h3>Bachelor Fantasy League List</h3>
        <h4>Join a League to Draft Your Picks!</h4>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead class="thead-inverse">
                <tr>
                    <th>League Name</th>
                    <th>League Owner</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each data}}
                    <tr>
                        <td><a href="/leagueDetailView/{{this.id}}">{{this.leagueName}}</a></td>
                        <td>{{this.leagueOwner}}</td>
                        </td>
                        <td>
                            <a href="/joinLeagueView/{{this.id}}">Join League</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
