<br>
<br>
<br>
<div class="container whiteBackground">
    <h2>Welcome to the Bachelor Fantasy League Application!</h2>
    <img src="/images/rose.jpg" alt="Sign In With Google"><br> <br>

    <h4>Read the guidelines below to determine how you want to use the app</h4>
    <br>
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>User Type</th>
                <th>Things You Can Do</th>
                <th>Other Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Admin</th>
                <th>
                    <ul>
                        <li>
                            Create a League
                        </li>
                        <li>
                            Create the League Rules
                        </li>
                        <li>
                            Manage Your League After Each Episode to Ensure the Points are Up to Date
                        </li>
                    </ul>
                </th>
                <th>You will have to login through google in order to create your league</th>
            </tr>
            <tr>
                <th>League Member</th>
                <th><ul>
                    <li>Join a League</li> <li>Draft Your Picks</li></ul></th>
                <th>You do not have to create an account. Simply return to find your league after each episode to see
                    where you rank
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
