
<div class="whiteBackground">
<div class="container">
    <br>
    <br>
    <br>
    <h2>Here are this League's Rules</h2>
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Rule</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            {{#each data}}
                <tr>
                    <td>{{this.leagueRule}}</td>
                    <td>{{this.rulePoints}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <h3>Does this league sound interesting to you?</h3>
    <h4>Join it and draft your picks! </h4>
    <br>
    <br>
    <h4>Enter your Full Name to Join</h4>
    <form method="post" action="/joinLeague/{{id}}">
        <table class="table table-condensed">
            <tbody>
            <tr>
                <th width="200">Full Name</th>
                <td><input type="text" name="leagueMemberName" required>
            </tr>
            </tbody>
            <tfooter>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Save & Next"
                               class="btn btn-success">
                        <input type="button" value="Cancel"
                               class="btn btn-danger" onclick="cancelAdd()">
                    </td>
                </tr>
            </tfooter>
        </table>
    </form>
</div>
</div>