


<div class="jumbotron vertical-center"> <!--
                      ^--- Added class  -->
    <div class="container">
        <h3>You have already created a league - please navigate to  <a class="nav-link" href="/manageLeagueView">Manage Your League</a></h3>
    </div>
</div>