


<div class="jumbotron vertical-center">
    <div class="container">
        <h2>You have not created a league yet - please navigate to  <a class="nav-link" href="/createLeagueView">Create Your League</a></h2>
    </div>
</div>