
<section>
    <div class="container">
        <div class="row">
            <a href="/auth/google">
                <img src="/images/google-sign-in.png" alt="Sign In With Google"">
            </a>
        </div>
    </div>
</section>