<div class="container">
    <h2>Manage Your League - {{leagueName}}</h2>
    <h3>Click On an Episode # to Either View or Input the Score Details</h3>

    <ul class="list-group">
        {{#each episodes}}
            <a href="/enterEpisodeScoreView/{{../leagueId}}/{{this.id}}"><li class="list-group-item">Episode {{this.episodeNumber}}</li></a>
        {{/each}}
    </ul>

</div>