body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/header.png");
  background-size: cover;
}

a {
  color: #00B7FF;
}


.whiteBackground {
  background-color: #FFFFFF;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.h2Red {
  font-size: 30px;
  color: darkred;
}